@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Poppins:wght@200&display=swap");
/* rules 
font-family: 'Orbitron', sans-serif;
font-family: 'Poppins', sans-serif; 
*/

body {
  background-image: url("/assets/images/space-background.webp");
  background-attachment: fixed;
  background-size: 1000px;
  overflow: hidden;
}

p {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: white;
  text-shadow: 5px 3px grey;
}

h2 {
  font-size: 1.5rem;
  font-family: "Orbitron", sans-serif;
  text-align: center;
}

.choice img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 80%;
  max-width: 200px;
}

input {
  padding: 5px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #C3E449;
}

button:active {
  background-color: #C3E449;
  transform: translateY(4px);
}

.game-area {
  background-color: #F8F9F5;
  display: flex;
  flex-direction: row;
  height: 45vh;
  width: 80vw;
  max-width: 1000px;
  max-height: 900px;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 50px 6px rgba(0,0,0,0),
}

.choice {
  position: relative;
  align-self: flex-start;
  /* background-color: white; */
  width: 35%;
  height: 100%;
}
.versus-text {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  color: white;
}

.score-area {
  background-color: white;
  height: 15vh;
  width: 80vw;
  max-width: 1000px;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.player-score-wrapper {
  position: relative;
}

.computer-score-wrapper {
  position: relative;
}

.next-round-btn {
  background-color: #d9fe52;
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
}

.btn-text {
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
  padding: 10px;
}

#player-score {
  position: absolute;
  left: 50%;
  transform: translate(0, 50%);
  font-size: 1.5rem;
}

#computer-score {
  position: absolute;
  left: 50%;
  transform: translate(0, 50%);
  font-size: 1.5rem;
}

#blur-cover{   
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  transform: translate(-8px);
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  z-index: 2;
  /* display: none; */
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 20vh;
  max-height: 300px;
  padding: 50px;
}

.welcome-text p {
  font-size: 1rem;
  text-align: center;
  margin: 40px 0 0 0;
}
.welcome-text h1 {
  font-size: 3rem;
  color: black;
  text-shadow: none;
  margin: 0;
  text-shadow: 3px 0px 6px rgba(217, 254, 82, 1);
}

.welcome-text input {
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
}

#pop-up{
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  z-index: 2;
  box-shadow: 11px 10px 43px 0px rgba(255,255,255,1);
  background-color: #F8F9F5;
  padding: 30px;
}

.close{
  position: absolute;
  top: 0;
  cursor: pointer;
  font-size: 40px;
  transform: rotate(45deg);
  right: 14px;
  }

#game-rules {
  background-color: #F8F9F5;
  width: 80vw;
  max-width: 800px;
  border-radius: 15px;
  box-shadow: 11px 10px 43px 0px rgba(255,255,255,1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#game-rules h1 {
  color: black;
  text-shadow: 3px 0px 6px rgba(217, 254, 82, 1);
  margin-bottom: 0;
}

#game-rules h2 {
  font-size: 1.75rem;
  margin-left: 40px;
  margin-right: 40px;

}
#game-rules p {
  margin: 0;
}

#game-rules span {
  color: #d9fe52;
  text-shadow: 4px 1px 6px rgba(0, 0, 0, 1);
}

#game-rules button {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 3px 20px 3px 20px;
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  border-radius: 10px;
  background-color: #d9fe52;
  border: none;
  /* border: 1px solid black; */
  color: black;
  box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.7);
}

.to-rules {
  margin-bottom: 10px;
  padding: 3px 20px 3px 20px;
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #d9fe52;
  border: 1px solid black
}

#player-pick-outer {
  background-color: #F8F9F5;
  width: 80vw;
  max-width: 800px;
  height: 40vh;
  border-radius: 15px;
  box-shadow: 11px 10px 43px 0px rgba(255,255,255,1);
  padding: 20px;
}

.player-pick-inner {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.player-pick-inner img {
  height: 130px;
  width: 130px;
  margin: auto;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.7);
}

.hover-image {
  transition: all 0.3s; 
}

.hover-image:hover {
  transform: translateY(4px); 
  border-radius: 20px;
  background-color: #f8f9f6;
}

#computer-image, #player-image {
  border-radius: 20px;
  box-shadow: 5px 5px 21px 3px rgba(0,0,0,0.7);
}
